---
title: Report Detail View
status: prototype
layout: default
description: A report shared by Eliot Higgins 15 days ago
---
<!-- This is a full page view of a single report -->
<div class="page--report page">
  <%= partial "partials/sidebar" %>
  <div class="main">
    <div class="page--header">
      <div class="headers">
        <h2>
          <i class="fa fa-<%= report.source_domain_icon %>"></i>
          <%= report.title %>
        </h2>
        <h3>Part of <a href="/prototype"><i class="fa fa-folder"></i> <%= data.projects[0].title %></a> started by <a href="#">Eliot Higgins</a> 15 days ago</h3>
      </div>

      <%= partial "partials/team" %>
    </div>

    <%= partial "partials/report", :locals => { :report => report } %>
    <button id="js--edit-mode">Edit mode</button>
  </div>
</div>