<div class="report js-queries <%= report.type %> <%= report.archive_status %>">
  <!-- report section -->
  <div class="report--section">

    <!-- Verification status: eg, false -->
    <div class="report--verification-status <%= report.verification_status.downcase %>">

      <% if report.verification_status == "" %>
        <button>
          <i class="fa fa-flag"></i> Add Verification Status</button>
      <% else %>
          <% if report.verification_status == "In Progress"  %>
            <i class="fa fa-random"></i>
          <% elsif report.verification_status == "False"  %>
            <i class='fa fa-close'></i> 
          <% elsif report.verification_status == "Verified"  %>
            <i class='fa fa-check-circle-o'></i>
          <% end %>
          <%= report.verification_status %> <span class="attribution-team">by Bellingcat</span>
      <% end %>
    </div>

    <!-- Media object -->
    <div class="report--media-object">
      <img src="/images/prototype/<%=report.media_object%>">
    </div>

    <!-- Title -->
    <div class="report--title">
      <i class="fa fa-<%= report.source_type_icon %>"></i>
      <%= report.title %>
    </div>

    <!-- Description -->
    <div class="report--description">
      <% if report.description == "" %>
        <button><i class="fa fa-info"></i> Add Description</button>
      <% else %>
        <%= report.description %>
      <% end %>
    </div>
  </div>

  <!-- report section -->
  <div class="report--section">
    <!-- Helper text (optional per report) -->
    <% if report.helper_text %>
      <div class="report--helper-text">
        <%= report.helper_text %>
      </div>
    <% end %>

    <!-- Source: Often A username, or channel name -->
    <div class="report--source-username">
      <i class="fa fa-user"></i>
      <%= report.source_username %>
    </div>

    <!-- Source domain: eg youtube -->
    <div class="report--added-by">
      <span class="source-domain">
        <i class="fa fa-<%= report.source_domain_icon %>"></i>
      </span>
      <span class="datestamp"><%= report.added_datestamp %></span>
      <span class="username"><%= report.added_by %></span>
    </div>

    <button class="js--show-report">Show Checklog</button>
    
    <div class="report--checklog">
      <div class="checklog--header">
        <h4><%= report.checklog.count %> Verification notes</h4>
      </div>
      <ul>

      <li class="checklog--entry primary">
        <div class="checklog--entry-icons">
        </div>
        <div class="checklog--entry-body">
          <span class="username">
            Unknown
          </span>
          <span class="log-entry">
            <p>The person who created this media and uploaded it is unknown.</p>
            <button class="add-original-creator">Add creator</button>
          </span>
          <span class="timestamp">Date unconfirmed</span>
        </div>
      </li>

      <% report.checklog.reverse_each do |entry| %>
        <li class="checklog--entry <%= entry.entry_type %>">
          <div class="checklog--entry-icons">
            <% if entry.entry_type == "primary" %>
              <img class="avatar" src="/images/prototype/<%= entry.username %>.png">
            <% else %>
              <span class="dot"></span>
            <% end %>
          </div>
          <div class="checklog--entry-body">
            <span class="username"><%= entry.username %></span>
            <span class="log-entry"><%= entry.log_entry %></span>
            <span class="timestamp"><%= entry.timestamp %></span>
          </div>
        </li>
      <% end %>

      <li class="checklog--entry primary">
        <div class="checklog--entry-icons">
          <img class="avatar" src="/images/prototype/vp.kivimaki_17.png">
        </div>
        <div class="checklog--entry-body">
          <div class="report--form">
            <p class="helper-text"><span class="username">You</span> <a href="#" class="js--toggle-input">Add a comment or link</a></p>
            <form>
              <div class="input" contenteditable="true"></div>

              <input type="submit"></input>
            </form>
          </div>
        </div>
      </li>
      </ul>
    </div>






    <h4>testing</h4>
    <div class="updater">
      <i class="fa fa-pencil"></i>
      <div class="inner">
        <i class="up-arrow"></i>
        <textarea id="id_status" placeholder="What's going on?">
        </textarea>
      </div>
      <div class="selector-wrapper">
      </div>
      <div class="options">
        <a class="button">Post</a>
      </div>
    </div>
    <div id="feed"></div>







  </div>

  <div class="report--section action-pane">
    <div class="report--contextual-actions">
        <button class="js--more-actions"><i class="fa fa-ellipsis-h"></i> More Actions</button>
      
      <%# loop through all of the subactions %>
      <div class="report--actions js--hide">
      <% data.actions.each do |action| %>      
        <% if action.subactions %>
          <%# If there are subactions on this button, the button is a trigger to show them %>
          <div class="report--action">
            <i class="fa <%= action.icon %>"></i>
            <a class="js--toggle-subactions" href="<%= action.link %>">
              <%= action.title %>
            </a>
            <% action.subactions.each do |subaction| %>
              <div class="report--action action--subaction js--hide">
              <i class="fa <%= subaction.icon %>"></i>
                <a href="<%= subaction.link %>"><%= subaction.title %> </a>
                <p class="helper-text"><%= subaction.helper_text %></p>
              </div>
            <% end %>
          </div>
        <% else %>

          <%# Otherwise, if there not subactions, it's just a button %>
          <div class="report--action">
            <a href="<%= action.link %>">
              <i class="fa <%= action.icon %>"></i>
              <%= action.title %>
            </a>
            <p class="helper-text"><%= action.helper_text %></p>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>

  <!-- report section -->
  <div class="report--section action-pane">
    <img class="checklist" src="/images/prototype/checklist.png" />
  </div>
</div>